{% extends 'base.html.twig' %}

{% block title %}Gestion Humana
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
{% endblock %}

{% block body %}
	<div class="container-fluid ps-0">
		<div class="row">
			<div class="col-sm-2 position-fixed">
			{{ include('human_resources/_menu_hr.html.twig') }}
			</div>
			<div class="col-sm-2"></div>
			<!-- Bloque para el contenido dinámico -->
			<div class="col-sm" style="overflow:auto;">
                {{ include('layout/_nav_crud.html.twig') }}
                <h1> Menu </h1>
				{% block content %}
                
                {% endblock %}
			</div>
		</div>
	</div>
{% endblock %}