{# templates/human_resources/biometrico.html.twig #}
{% extends 'human_resources/human_resource.html.twig' %}

{% block content %}
    <h1>CARGA DE REGISTROS</h1>
	<h1>Cargar Archivo Excel</h1>

	{# Formulario para cargar el archivo Excel #}
	<form action="{{ path('app_biometric') }}" method="post" enctype="multipart/form-data">
		<div class="mb-3">
			<label for="excel_file" class="form-label">Seleccione un archivo Excel:</label>
			<input type="file" name="excel_file" id="excel_file" class="form-control" required>
		</div>
		<button type="submit" class="btn btn-primary">Cargar</button>
	</form>

	{# Previsualización de los datos, si están presentes #}
	{% if sheetData is defined %}
		<h2 class="mt-5">Previsualización de Datos</h2>
		<table class="table table-striped mt-3">
			<thead >
				<tr>
					{% for headers in header %}
                    <th class="text-center align-middle">      
                            {{ headers }}
                    </th>
                {% endfor %}
				</tr>
			</thead>
			<tbody>
				{% for row in sheetData %}
					<tr>
						{% for key, cell in row %}
						{# Verifica si es el campo 'holiday' y si es true #}
							{% if key == 'holiday' and cell == true %}
								<td class="align-middle" style="background-color: red; color: white;">Día festivo</td>
							{% else %}
								<td>{{ cell }}</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{# Botón para guardar los datos en la base de datos #}
		<form action="#" method="post">
			<button type="submit" class="btn btn-success">Guardar en Base de Datos</button>
		</form>
	{% endif %}
{% endblock %}
