{% extends 'base.html.twig' %}

{% block title %}Gestion Humana
{% endblock %}
{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('app') }}
	
{% endblock %}
{% block body %}
	<div class="container-fluid bg-green">
		{# menu lateral #}
			{{ include('human_resources/_menu_hr.html.twig') }}

			{# pantalla dinamica #}
			<div class="col py-3" style="margin-left: 280px;">
			 	{# Aquí se renderizará el contenido dinámico #}
				{% block content %}

				{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}
