{# Botón de loading (inicialmente oculto) #}
<button id="loadingBtn" class="btn {{ class }}" type="button" disabled style="display: none;">
	<span class="spinner-grow spinner-grow-sm"></span>
	{{ msj}}
</button>
