<li class="nav-item">
	<a href="{{ path(route) }}" 
	class="nav-link 
		{% if app.request.attributes.get('_route') == route %}
		active
		{% endif %}
	" 
	aria-current="page" 
	style="color:white;"
	>
		<i class="{{ icon }}"></i>
		{{ text }}
	</a>
</li>
