{% extends 'base_dashboard.html.twig' %}

{% block content %}
<div class="container-xxl container-p-y d-flex align-items-center justify-content-center vh-100 pt-2 shadow-sm p-3 mb-5 bg-body-tertiary rounded">
	<div class="misc-wrapper text-center ">
		<h2 class="mb-2 mx-2">Bienvenido a tu dashboard
			{{ app.user.fullname }}! ❤️</h2>
		<p class="mb-4 mx-2">Selecciona la función que deseas realizar en el menú lateral izquierdo de tu pantalla</p>
		<div class="mt-4">
			<img src="{{ asset('images/main.png') }}" alt="girl-doing-yoga-light" width="500" class="img-fluid" data-app-dark-img="{{ asset('images/main.svg') }}" data-app-light-img="{{ asset('images/main.svg') }}"/>
		</div>
	</div>
</div>
{% endblock %}
